@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);

/* $text: #303336;
$light-text: #8c98a8;
$button: #49B956;
$button-hover: #60CF6F; */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  /* background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/blurred_bg2.jpg")
    no-repeat center center fixed; */
  background: #f2f2f2;
  background-size: cover;
  height: 2000px;
}
.navbar{
  background-color: #303336;
  
}
.navbar ul{
  font-family: cursive,sans-serif;
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #303336;
  color:#fff;
  /* justify-content: center; */
}
.navbar a{
  color: #adb7c2;
}
.navbar li{
  padding: 1rem;
}
.navbar-logo{
  flex: 1;
  font-size: 1.5rem;
  user-select: none;
}
.navbar-toggle{
  display: none;
}
.navbar-links:hover{
  border-radius: 3px;
  /* padding: 2px; */
  background-color: aqua ;
}
.navbar-links:hover a{
  color: #000;
}

@media (max-width:600px){
    .navbar ul{
      flex-wrap: wrap;
    }
    .navbar-toggle{
      display: block;
    }
    .navbar-links {
      display: none;
      width: 100%;
      text-align: center;
    }
    .active{
      display: block;
    }
}

.product-box {
  display: flex;
  font: 13px/23px "Raleway", Arial, sans-serif;
  color: #303336;
  padding: 40px 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container {
  margin: 7px;
  width: 230px;
  height: 370px;
  background: white;
  border-radius: 5px;
}

.container img {
  border-radius: 5px;
  width: 230px;
  height: 220px;
}
.information {
  text-align: center;
  margin-top: 18px;
}

.name {
  font-size: 22px;
}

.store {
  font-size: 16px;
  color: #8c98a8;
  margin-bottom: 28px;
}

.price {
  background: #49b956;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 12px;
  border-radius: 5px;
  width: 90px;
  height: 45px;
  display: inline;
}
.zoom {
  transition: transform .2s; /* Animation */
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
